// || Colors ||

// Primary

$very-dark-blue: hsl(233, 47%, 7%); // main background
$dark-desaturated-blue: hsl(244, 38%, 16%); // card background
$soft-violet: hsl(277, 64%, 61%); // accent

// Neutral

$white: hsl(0, 0%, 100%); //main heading, stats
$slightly-transparent-white: hsla(0, 0%, 100%, 0.75); //main paragraph
$slightly-transparent-white-stat: hsla(0, 0%, 100%, 0.6); // stat headings

// Typography

// Body Copy

$base-font-size: 0.9375rem;

// spacing
$base-spacing: 0.75rem;
